html, body{
    height: 100%;
}
body{
    background-color: #aaa;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
}
/************************* GERAIS *************************/
h1, h2, h3{
    padding: 20px 0 10px;
    font-weight: 900;
}
h1{
    font-size: 38px;
}
h2{
    font-size: 26px;
}
p{
    padding: 10px;
}

td{
    padding: 5px 10px;
}

/************************* LAYOUT *************************/
.contentor{
    min-height: 100%;
    display: grid;
    grid-template-rows: 52px auto 120px;
}
.site_footer{
    background-color: #333;
}
.wrapper{
    display: grid;
    flex-direction: column;
    box-sizing: border-box;
    width:80%;
    margin: 0 auto;
    background-color: #ccc;
    /*padding: 20px;*/
}

/************************* NAVEGAÇÃO *************************/
nav{
    width: 100%;
    background-color: #333;
}

nav .wrapper{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #333;
    padding: 0;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.logo h2{
    margin: 0;
    padding: 0;
}
.logo #imglogo{
    width: 32px;
    margin: 10px;
    float: left;
}
/*#imglogo rect{
    stroke: red !important;
}*/

/************************* MENU *************************/
.menu{
    flex-grow: 1; /* relativo a nav .wrapper */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.menu li{
    /*flex-grow: 1;*/
    display: flex;
    align-items: stretch;
    /*background-color: #aaa;*/
}
.menu .link, .menu .activelink{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.menu .activelink{
    background-color: #999;
    color: #333;
}
.menu .link:hover{
    background-color: #666;
}
/************************* INDEX *************************/
.index-categories-lists{
    display: flex;
    gap: 10px;
}
.index-categories-lists li{
    display: flex;
    height: 160px;
    width: 25%;
    align-items: center;
    justify-content: center;

    background-color: #333;
    color: #cccccc;
}
/************************* FORMULARIOS *************************/
.login, .perfil{
    display: block;
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    padding: 10px 20px;
    background-color: #aaa;
}
.input_field, fieldset{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.input_field label{
    text-align: right;
    flex-grow: 1;
}
.input_field input{
    width: 150px;
}

.submit{
    border: none;
    padding: 7px 10px;
    cursor: pointer;
}

.form_error{
    border: 2px solid darkorange;
}
.lista_erros{
    padding: 0 20px;
}
.lista_erros li:first-child{
    font-weight: bold;
}
.lista_erros li{
    margin: 5px 0;
}
/************************* PAGINAS *************************/
.contentor-pag{
    display: flex;
}
.contentor-pag aside{
    padding: 0 10px;
    background-color: #666666;
}
.contentor-pag .conteudo{
    padding: 0 20px;
}
/************************* PERFIL *************************/
aside h3{
    color: #dddddd;
    padding: 20px 10px 10px;
}
.table_perfil thead tr:first-child{
    padding: 20px;
    font-weight: bold;
    background-color: darkorange;
    color: white;
}
.table_perfil thead td{
    padding: 10px;
}
.table_perfil tbody td{
    border: 1px solid #ddd;
}
.table_perfil tbody td p{
    padding: 5px 0;
}

.table_perfil tbody tr:nth-child(even){
    background-color: #aaa;
}
.menu-perfil a, .menu-perfil .activelink, .menu-perfil .menu-separador{
    display: block;
    padding: 5px 10px;
    margin: 3px 0;
    background-color: #333333;
    color: #dddddd;
    border: 1px solid #999;
}
.menu-perfil .activelink, .menu-perfil a:hover{
    background-color: darkorange;
    color: #333333;
    border: 1px solid #ddd;
}
.menu-perfil .menu-separador{
    padding: 5px 10px;
    margin: 15px 0 3px;
    border: none;
    background-color: #999999;
    color: #333;
    border-bottom: 5px solid darkorange;
}

/************************* HOME *************************/
.contentor-home{
    padding: 10px;
}

