#Options -Indexes
RewriteEngine on

#RewriteCond %{SCRIPT_FILENAME} !-f [OR]
#RewriteCond %{SCRIPT_FILENAME} -f
RewriteCond %{SCRIPT_FILENAME} !-d [OR]
RewriteCond %{SCRIPT_FILENAME} -d
RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?pag=$1 [NC,L,QSA]